  
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cari Digimon Favorit</title>
    <style>
    body {
        background-image: url("https://www.tokkoro.com/picsup/5741040-digimon-adventure-tri-wallpapers.jpg");
       }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br><br><br><br><br><br><br>
    <h1><b>Masukkan Nama Digimon Favorit Kamu</b></h1>
    <hr>
    <form method='POST' action='http://127.0.0.1:5000/CariDigi'>
        <input type='text' name='digimon' placeholder="Nama Digimon..."/>
       <br> 
        <input type='submit' value='Cari Digimon'/>
    </form>
    </center>
</body>
</html>